@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');


body,
html{
    height: 100%;
    margin: 0;
    color: white;

}
#bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#container{
    background-color: rgba(0,0,0,0.6);
    width: 50%;
    height: 600px;
    position: absolute;
    bottom: 50px;
    right: 50px;


}
#container__todo{
  width: 75%;
  height: auto;
  min-height: 300px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
#todo__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

#todo__heading{
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: hsla(166, 100%, 50%, 0.7);
  font-size: 1.5rem;

}
#input_submit{
    text-align: center;

}

#submit_todo{
    border: none;
    background-color: aquamarine;
    outline: none;
    width: 50px;
    height: 25px;
    margin-left: 20px;
    border-radius: 50px;
    transition: .2s;


}
#todoList{
    color:rgba(212, 199, 225, 0.251);
    margin: 20px 0;
    line-height: 25px;


}


#submit_todo:hover{
    background-color: purple;

}

#todo__input{
    outline: none;
    border:1px solid rgba(212, 199, 225, 0.251)0;
    border-radius: 50px;
    padding: 6px;
    background-color:transparent;
    color:darkslateblue;




}



#todo{
    background: white;
    width: 200px;
    height: 200px;
    
}

#todolist{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
}

#pomtimer{
    position: absolute;
    bottom:50px;
    right: 10px;
    font-size: 20px;
}


#music{
    position: absolute;
    bottom: 90px;
    right: 10px;
    font-size: 20px;

}

#notes{
    position:absolute;
    bottom: 130px;
    right: 10px;
    font-size: 20px;

}

